# Misc
include LICENCE
include README.rst

# Aux libs
recursive-include csg_dicoms_anonymizer/csg_fileutil_libs *.py

# PyInstaller builder
include csg_dicoms_anonymizer/csg_dicoms_anonymizer_pyinstaller-win64.bat

# Documentation
recursive-include doc *
